@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.eot');
    src: url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff'),
        url('../fonts/Manrope-Bold.svg#Manrope-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope2';
    src: url('../fonts/manrope/Manrope-Regular.eot');
    src: url('../fonts/manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Regular.woff') format('woff'),
        url('../fonts/manrope/Manrope-Regular.svg#Manrope-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Bold.eot');
    src: url('../fonts/inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/inter/Inter-Bold.woff') format('woff'),
        url('../fonts/inter/Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
